# Python
__pycache__/
*.py[cod]
.venv/
venv/

# macOS
.DS_Store

# Editor/IDE
.vscode/
.idea/

# Docker

*.log

# Environment & Secrets
.env
*.env

# DBs
*.db
*.sqlite3

# Testing & Linting
.coverage
.pytest_cache/
.ruff_cache/
htmlcov/